@import "tailwindcss";

/* Custom scrollbar for chat */
.chat-scroll::-webkit-scrollbar {
	width: 5px;
}

.chat-scroll::-webkit-scrollbar-track {
	background: #1c1c1c;
	border-radius: 9999px;
}

.chat-scroll::-webkit-scrollbar-thumb {
	background: #515357;
	border-radius: 9999px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}