:root {
    --background-gradient-color: linear-gradient(to bottom, #ff4f00, #ff6b00);
    --primary-color: #cc5520;
    --black-color: #0f001a;
    --white-color: #ffffff;
    --box-shadow-color: #EA912780;
    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
}

h2 {
    font-weight: 400;
    font-size: 26px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2%;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

header {
    background: linear-gradient( 180deg,rgba(255, 81, 0, 0.13) 0%,rgba(255, 107, 0, 0) 100%),#ffffff;
}

.desktop-nav {
    display: none;
}

.logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.mobile-menu {
    position: fixed;
    top: -100%; /* Initially hidden */
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 81, 0, 0.13) 0%, rgba(255, 106, 0, 0.034) 100%), #ffffff;
    padding: 20px 0 40px 0;
    text-align: center;
    z-index: 999;
    transition: top 0.4s ease;
}

.mobile-menu .menu-item {
    display: block;
    padding: 18px 0;
    font-size: 31px;
    font-weight: 400;
    color: var(--black-color);
    text-decoration: none;
}

.mobile-menu .menu-item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Open the Menu */
#menu:target {
    top: 0; /* Show the menu when targeted */
}

.close-menu {
    position: relative;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
}

.close-menu:after {
    content: '✕';
    font-size: 24px;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* Ensure clicking the close-menu link hides the menu */
#close-menu:target ~ .mobile-menu {
    top: -100%; /* Hide the menu */
}

#menu-blur {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 998;
}

#menu:target ~ #menu-blur {
  opacity: 1;
  pointer-events: auto;
}

.nav-bar {
    padding: 15px;
}

.nav-bar a {
    text-decoration: none;
    color: var(--black-color);
    margin-right: 20px;
    font-weight: 500;
}

/* Hero Section */
.hero-section {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section  h1, p, .download {
    margin: 10px 0;
}

.hero-section p {
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
}

.hero-image {
    max-width: 400px;
    width: 100%;
}

.download {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bn45 {
  width: 190px;
  height: 60px;
}

.bn46 {
  width: 170px;
  height: 60px;
}

/* Help Section */
.help-section {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-section h1 {
    margin: 10px 0;
}

.help-card {
    margin: 20px 0px;
    padding: 50px;
    box-shadow: 5px 20px 50px 0px #EA912780;
}

.help-card img {
    display: block;
    margin: 0 auto -30px auto;
    width: auto;
}

.learn-more {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    padding-right: 45px;
}


.learn-more::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #ff6b00;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}


.learn-more::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 2px;
    background-color: #ff6b00;
    transform-origin: right center;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s ease;
}

.learn-more span.arrow-bottom {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 2px;
    background-color: #ff6b00;
    transform: translateY(-50%) rotate(-45deg);
    transform-origin: right center;
    transition: all 0.3s ease;
}

.learn-more:hover::after {
    width: 25px;
}

.learn-more:hover::before {
    transform: translateY(-50%) rotate(45deg) translateX(2px);
}

.learn-more:hover span.arrow-bottom {
    transform: translateY(-50%) rotate(-45deg) translateX(2px);
}

/* How To Section */
.how-to-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 30px 0;
}

.how-to-section h2 {
    margin: 20px 0 20px 0;
}

.how-to-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.how-to-card img {
    padding-bottom: 15px;
}

.how-to-card h4, p {
    padding: 5px 0;
}

/* Testimonials Section */
.testimonial-section {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-image {
    max-width: 600px;
    width: 100%;
    margin-top: 110px;
    background-color: #FFE9D0;
    text-align: center;
    overflow: visible;
}

.testimonial-image img {
    margin-top: -90px;
    padding-bottom: 30px;
}

/* Testimonial Section - Carousel */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -200%;
  }
  98% {
    left: -200%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.carousel ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
    position: relative;
    /* margin-bottom: 60px; */
    /* padding-bottom: 40px; */
    overflow-y: hidden;
    /* perspective: 100px;
    top: 50px; */
}

.carousel__viewport {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 300px;
  left: 0;
  height: 340px;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
}

.carousel__viewport img {
    position: relative;
    bottom: -60px;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  overflow-y: hidden;
}

@media (hover: hover) {
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: 0px;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 4px;
  font-size: 0;
  outline: 0;
}

/* .carousel__prev,
.carousel__next{
      bottom: -8px;
} */

.carousel::before,
.carousel__prev {
  right: 94px;
}

.carousel::after,
.carousel__next {
  right: 30px;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: var(--white-color);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: var(--primary-color);
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' fill='%23cc5520'/%3E%3C/svg%3E");
  box-shadow: 0px 4px 16px 0px #00000014;


}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' fill='%23fff'/%3E%3C/svg%3E");
    transform: translateY(-50%) rotate(180deg);
    background-color: var(--primary-color);
}

/* Download Section */
.download-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
}

.download-section > img {
    max-width: 400px;
    width: 100%;
    margin: 30px 0;
}

.download-section h2 {
    padding: 10px 0;
}

/* Footer Section */
footer{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}

footer > a img {
    max-width: 126px;
    width: 100%;
    height: 22px;
    margin: 20px;
}

.links {
    text-align: center;
    padding: 10px 0;
}

.links h2 {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.links a{
    text-decoration: none;
    color: var(--white-color);
}

.links-common h2, li {
    padding: 10px 0;
}

.footer-form{
    text-align: center;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
}

.footer-form form input, form button {
    max-width: 724px;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 3px;
}

.footer-form form input {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 400;
}

.footer-form form button {
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--white-color);
    transition-duration: 0.3s;
    cursor: pointer;
}

.footer-form form button:hover {
box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.social-links {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-divider {
    width: 100%;
    max-width: 724px;  
    height: 1px;
    background-color: var(--white-color);
    margin: 30px auto; 
}

footer > p {
    padding: 0;
    margin: 0;
}